html {
    font-size: 22px;
    background-color:lightcoral;
}

body {
    min-height: auto;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid rgb(7, 7, 7);
    border-right: 1px solid rgb(5, 5, 5);
    viewport-fit: device-width;
}

th, td {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    width:100%;
    padding: 0.5rem;}

    a {
        color: aliceblue;
    }
    
    a:visited{
        color: blanchedalmond;
    }

    a:hover , a:active {
        color: lightgray;
    }

    video {
        
        width: 100%    !important;
        height: auto   !important;
      }

      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
      
    img {
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        viewport-fit: device-width;
      }
      
     caption {
        border: 1px solid #333;
        font-family: 'Courier New', Courier, monospace;
        border-collapse: separate;
        width:97%;
        padding: 0.5rem;}
    
     