html {
    font-size: 22px;
    background-color:lightcoral;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    width:90%;
    padding: 0.5rem;}

    a {
        color: aliceblue;
    }
    
    a:visited{
        color: blanchedalmond;
    }

    a:hover , a:active {
        color: lightgray;
    }

    video {
        
        width: 100%    !important;
        height: auto   !important;
      }

      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
      
    img {
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        viewport-fit: device-width;
      }

      .marquee {
        position: relative;
        overflow: hidden;
        height: 40px;
        display: flex;
        justify-content: center;
        margin: 0 0 40px 0;
      }
      
      .marquee-keywords-pink {
          margin: 0 auto;
          white-space: nowrap;
          overflow: hidden;
          position: absolute;
          z-index: 1;
          font-weight: bold;
      }
      
      .marquee-keywords-pink span {
          display: inline-block;
          padding-left: 100%;
          animation: marquee-keywords 30s linear infinite;
          color: #faa2b0 !important;
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 0.2em;
          font-family: var(--heading-font-family);
    animation-delay: -14s;
}

.marquee-keywords-two span {
  animation-delay: 1s;
}

@keyframes marquee-keywords {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
      
    
    
